.env

# ignore e2e tests
e2e

# Ignore node_modules
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build output
dist
build

# Ignore environment variables
# .env

# Ignore local development files
.DS_Store
*.swp

# Ignore test files
coverage
.yarn
dist/
.vscode
.pnp.cjs
.pnp.loader.mjs
.pnp.loader.mts
.pnp.project.json
.pnp.project.json5
.pnp.lock
.pnp.lock.yaml
.pnp.lock.yml
.pnp.lock.json
.pnp.lock.json5
.pnp.lock.jsonc
.pnp.lock.jsonp
.pnp.lock.jsonx
.pnp.lock.jsony
.pnp.lock.jsonz
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml
pnpm-lock.json
pnpm-lock.json5
pnpm-lock.jsonc
pnpm-lock.jsonp
pnpm-lock.jsonx
pnpm-lock.jsony
pnpm-lock.jsonz
package-lock.json
